 body {
   margin: 0;
 }



 /**
* 右侧主体内容部分
*/
 .main-right-body {
   transition: margin-left 0.5s;
   margin-left: 300px;

 }

 /*侧边栏收起后右侧body的样式*/
 .main-right-body.collapsed {
   margin-left: 71px;
 }


 .main-nav {
   margin-left: 301px;
   position: fixed;
   top: 0;
   z-index: 1;
   height: 65px;
   width: calc(100% - 301px);
   background-color: white;
   transition: width 0.5s, margin-left 0.5s;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1625);
 }
 .main-nav.collapsed {
  width: calc(100% - 71px);
}

 




 /* .nav-button:hover {
   background-color: #3e8e41;
 }
*/
 /* 当按钮被点击时，按钮颜色更加变暗 */
 /* .nav-button:active {
   background-color: #2e6f33;
 } */




 /* 定义侧边栏样式 */
 .sidebar {
   height: 100%;
   width: 300px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: white;
   overflow: hidden;
   transition: width 0.5s;
   border-right: 1px solid rgba(0, 0, 0, 0.1625);

 }

 .sidebar .sidebar-info {
   position: fixed;
   top: 0px;
   width: 300px;
   height: 65px;
   transition: width 0.5s;

   overflow: hidden;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1625);
 }

 .collapsed .sidebar-info {
   width: 70px;
 }







 .main-body {
   background-color: #f9fafb !important;
   padding-left: 15px;
   padding-top: 60px;
   height: 100%;
   height: calc(100vw - 300px);
 }

 .collapsed.main-body {
   height: calc(100vw - 70px);
 }





 /* 当侧边栏处于折叠状态时的样式 */
 .sidebar.collapsed {
   width: 70px;
 }






 /**
https://fonts.google.com/icons
**/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../font/icon.woff2") format('woff2');
}

.icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.no-transition * {
  transition: none !important;
}