.main-nav>.nav-left {
    float: left;
    padding-left: 15px;
    list-style: none;
}

.main-nav>.nav-right {
    float: right;
    margin-right: 15px;
    list-style: none;
}

.toggle-sidebar {
    cursor: pointer;
    font-size: 30px;
    
}

.rotate-text {
    transform: rotate(90deg);
}